@font-face {
    font-family: 'poppinsblack';
    src: url('fonts/poppins-black-webfont.woff2') format('woff2'),
         url('fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppins';
    src: url('fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'libre_baskervillebold';
    src: url('fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    --primary-base: #FFE354;
    --primary-light: #FFF3C0;
    --primary-dark-: #FFD41D;
    --secondary-base: #FFC0C4;
    --secondary-light: #FFE6EA;
    --secondary-dark: #D87373;
    --confirm-base: #76ED3E;
    --confirm-light: #DFE87F;
    --confirm-dark: #447A11;
    --confirm-disabled: #D6D6B2;
    --action-base: #6FE8F9;
    --action-light: #D1EDDC;
    --action-dark: #3F88A8;
    --action-disabled: #D4DDD7;
    --deny-base: #FA5A32;
    --deny-light: #FF8A50;
    --deny-dark: #CC1F38;
    --deny-disabled: #EFD3CB;
    --accent-base: #F89120;
    --accent-light: #FFC392;
    --neutral-100: #534537;
    --neutral-200: #6E634E;
    --neutral-300: #AFA0A5;
    --neutral-500: #F0B96F;
    --neutral-700: #FDF6E4;
    --neutral-900: #FAFBFC;
    --gradient-rainbow: linear-gradient(1.15deg, #F0EA4A -6.96%, #F1BEE9 35.22%, #79D3E7 70.61%, #4A7FE6 100%);
}

body {
    background: linear-gradient(-15deg, #F0EA4A -6.96%, #F1BEE9 35.22%, #79D3E7 70.61%, #4A7FE6 100%);
    min-height: 100vh;
    min-height: -webkit-fill-available;;
    margin: 0;
    padding: 0;
     background-attachment: fixed;
    background-size: 1000%;
    -webkit-animation: scroll ease 30s infinite;
    animation: scroll ease 30s infinite;}

@-webkit-keyframes scroll {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes scroll {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1, h2, h3, p, li, label, input, button {
    font-family: poppins;
    color: var(--neutral-100);
    margin: 0;
}

h1 {
    font-family: poppinsblack;
    font-size: 48px;
}

h2 {
    font-size: 36px;
    line-height: 28px;
    justify-self: start;
    display: inline-block;
    text-transform: uppercase;
}

h2, h3 {
    font-family: poppinsblack;
}

button {
    height: 60px;
    font-size: 24px;
    position: relative;
    border: none;
    background-color: unset;
    z-index: 1;
    font-family: poppinsblack;
    text-transform: uppercase;
    padding: 0 1rem;
    justify-self: end;
    outline-offset: 4px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

button:before, button:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    -webkit-clip-path: polygon(calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, calc(0% + 10px) 100%, 0% 50%, calc(0% + 10px) 0%);
    clip-path: polygon(calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, calc(0% + 10px) 100%, 0% 50%, calc(0% + 10px) 0%);
    z-index: -1;
}

button:before {
    background-color: var(--neutral-100);
    height: 100%;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

button:focus:not(:focus-visible) {
    outline: none;
  }

.primaryBtn:after {
    background-color: var(--confirm-base);
}

.secondaryBtn:after {
    background-color: var(--action-base);
}

.denyBtn:after {
    background-color: var(--deny-base);
}

@media (min-width: 768px) {
    button:hover:before {
        transition: 0.15s;
        -webkit-transform: translate(0, 15px);
        transform: translate(0, 15px);
    }
    button:disabled:hover:before, button:disabled:active:before {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    .primaryBtn:hover:after {
        background-color: var(--confirm-light);
    }
    .secondaryBtn:hover:after {
        background-color: var(--action-light);
    }
    .denyBtn:hover:after {
        background-color: var(--deny-light);
    }
}

button:active:before {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

.primaryBtn:active:after {
    background-color: var(--confirm-dark);
}

.secondaryBtn:active:after {
    background-color: var(--action-dark);
}

.denyBtn:active:after {
    background-color: var(--deny-dark);
}

button:disabled:after, button:disabled:hover:after, button:disabled:active:after {
    background-color: #dddddd;
    border-color: #999999;
    color: #999999;
}

@media(min-width: 768px) {
    h2 {
        font-size: 3rem;
        line-height: 2rem;
    }
    button {
        font-size: 1.75rem;
    }
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/

#popItIn {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.hero {
    margin: 0 auto;
    max-width: 500px;
    display: block;
    transition: 0.25s ease;
}

.welcome, .nickname {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    margin: 2rem auto 0;
    position: relative;
}
.welcome__input {
    max-width: 300px;
    /*height: 75px;*/
    font-size: 1.5em;
}

#roomSearch, #nickname {
    box-sizing: border-box;
    width: 94%;
    align-self: center;
    padding: calc(15px + 1rem) 25px 15px;
    display: inline-block;
    border: none;
}

.welcome__label {
    left: 8%;
    top: 5%;
    position: absolute;
}

#host {
    margin: 3rem auto 0;
    display: block;
    width: 100%;
    grid-column: span 1;
}

#host.invisible {
    display: none;
}

.errorMsg {
    background-color: var(--deny-base);
    color: var(--neutral-700);
    font-family: 'poppins';
    text-align: center;
    padding: 0.25rem;
    width: 94%;
    box-sizing: border-box;
    margin: 0 auto;
}

.contactBtn {
    display: flex;
    border-bottom: 2px solid var(--neutral-100);
    background-color: var(--primary-base);
    align-self: auto;
    margin: 3rem auto 0;
    text-decoration: none;
}

.contactBtn__Txt {
    font-size: 12px;
    padding: 8px 12px;
}

.contactBtn__Questions {
    font-family: Merienda-Bold;
    font-size: 20px;
}

.contactBtn__Img {
    background-color: #008CD8;
    height: 61px
}

@media(min-width:400px) {
    .contactBtn {
        align-self: flex-end;
        margin: 3rem 0 0 0;
    }
}

/*.splash__img {*/
/*}*/

.splash__img--mundo {
    background-image: url(images/elMundo.png);
    background-position: bottom;
    background-size: 250%;
    background-repeat: no-repeat;
    /*display: flex;*/
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.splash__img--network {
    height: auto;
    max-height: 245%;
    width: 230%;
    position: unset;
    position: absolute;
    left: -64%;
    bottom: 0;
}

@media(min-width:400px) {
    .splash__img--mundo {
        background-size: 200%;
    }
    .splash__img--network {
        max-height: 186%;
        width: 184%;
        left: -42%;
    }
}


@media(min-width:845px) {
    .splash__img--mundo {
        background-size: contain;
    }
    .splash__img--network {
        max-height: 98%;
        width: 92%;
        left: 4%;
    }
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/

.modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1.5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--neutral-900);
    box-sizing: border-box;
    z-index: 3;
    justify-items: center;
    align-items: end;
    row-gap: 1em;
}

.modal__content {
    grid-column: span 2;
    height: 100%;
    max-height: calc(90vh - 2rem);
    width: 100%;
    justify-items: center;
    align-content: end;
    box-sizing: border-box;
    padding: 30vh 1rem 1rem 1rem;
    margin: 0;
}

.modal__span {
    font-size: 18px
}

.modal__btn {
    align-self: end;
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/



.deckSettings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.deckSettings__option {
    transition: 0.1s ease;
    margin: 0 auto;
    display: flex;
}

.radio-sibling--deckSettings {
    color: var(--neutral-100);
    position: relative;
    z-index: 1;
    padding: 0 1rem;
    width: 225px;
    font-size: 12px;
    line-height: 1.3;
    position: relative;
    transition: 0.1s ease;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 2.5rem;
    right: 0.75rem;
}

.radio-sibling--deckSettings:before, .radio-sibling--deckSettings:after {
    content: "";
    position: absolute;
    top: 8px;
    left: -6px;
    height: 100%;
    width: 110%;
    background-color: var(--neutral-100);
    -webkit-clip-path: polygon(3% 0%, 0% 100%, 97% 100%, 100% 0%);
    clip-path: polygon(3% 0%, 0% 100%, 97% 100%, 100% 0%);
    z-index: -2
}

.radio-sibling--deckSettings:after {
    top: 0;
    left: -12px;
    background-color: var(--neutral-900);
}

.modal__input--deckSettings {
    z-index: 2;
    position: relative;
    left: 6%;
    vertical-align: text-bottom;
    height: 20px;
    width: 20px;
    padding: 9px;
    border-radius: 100%;
    border: 2px solid var(--neutral-100);
    align-self: center;
}

.deckSettings__label--header{
    font-family: 'poppinsblack';
    font-size: 16px;
    line-height: 1.5;
}

.deckSelect__li:active {
    -webkit-transform: translateY(-6%);
    transform: translateY(-6%);
}

.deckSelect__img {
    width: 100%;
}

#deckSelectBtn {
    display: block;
    margin: 1rem auto 0;
    width: 100%;
}

.deckSelect__input{
    transition: 0.15s ease;
    background-repeat: no-repeat;
    background-size: 36%;
    background-position: 85% 80%;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(20,20,20,0.9);
    mix-blend-mode: saturation;
    -webkit-filter: unset;
    filter: unset;
}

/* .deckSelect__input:active {
    -webkit-transform: translateY(6%);;
    transform: translateY(6%);
} */

.deckSelect__input:hover {
    background-color: rgba(20,20,20,0.3);
}

.deckSelect__input:checked{
    background-image: url(images/check.svg);
    background-color: revert;
    mix-blend-mode: unset;
    background-size: 33%;
    background-position: 85% 85%;
}

.deckSelect__input:checked:hover {
    background-color: rgba(250,250,250,0.3);
    -webkit-filter: unset;
    filter: unset;
}

.deckSettings__label--Edit {
    color: var(--accent-base);
    display: inline-block;
    position: absolute;
    left: calc(100% - 5rem);
    padding: 1.5rem;
    top: 0;
    text-transform: uppercase;
    font-family: 'poppinsbold';
    cursor: pointer;
}

@media (min-width: 768px) {
    .deckSettings__option:hover {
        -webkit-transform: translateY(-6%);
        transform: translateY(-6%);
    }
    .deckSelect__img:hover {
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }
}

.modal__content--cardSelect {
    align-content: start;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.5rem;
    padding: 1rem;
    position: relative;
    overflow-y: scroll;
    background-color: var(--primary-base);
}

@media (min-width: 821px) {
    .modal__content--cardSelect {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 0.8rem;
        grid-row-gap: 0.5rem;
        padding: 1rem 15vw;
    }
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/


@media(min-width:845px) {
    .modal {
        height: 75%;
        top: 20%;
        width: 80%;
        left: 10%;
    }
    
    .modal__content--gameSettings {
        display: flex;
        align-items: flex-end;
    }
    
    .modal__input--gameSettings{
        max-height: 14vw;
        max-width: 12vw;
    }
}

.radio-sibling {
    width: 100%;
    height: 100%;
    display: block;
    transition: inherit;
    font-family: poppins;
    outline-offset: 4px;
}

.gameSettings__option {
    width: 100%;
    position: relative;
    transition: 0.1s ease;
}

.modal__content--gameSettings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-gap: 1rem;
    background-color: var(--secondary-base);
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

.modal__input--gameSettings {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background-size: 65%;
    background-position: 50% 0%;
    transition: 0.25s ease;
    z-index: 3;
    top: 0;
    left: 0;
}

@media (min-width: 845px) {
    .modal__content--gameSettings {
        display: flex;
        align-items: flex-end;
    }
}
.modal__input--gameSettings:checked {
    background-image: url(images/check.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 25%;
}

.modal__input--gameSettings:checked + .radio-sibling{
    background-color: var(--neutral-900);
}

.claimToken {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: var(--action-base);
    width: 100%;
    padding: 0.5rem 0.25em 0.75rem 0.25rem;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 00%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 00%);
    box-sizing: border-box;
    font-family: 'poppins';
    color: var(--neutral-100);
    font-size: 0.8em;
}

.boardSelect__page .boardSelect__li {
    transition: 0.1s ease;
    line-height: 1;
}

@media (min-width: 768px) {

    .gameSettings__option:hover .radio-sibling, .boardSelect__li:hover .radio-sibling {
        background-color: var(--neutral-700);

        -webkit-transform: translateY(-6%);
        transform: translateY(-6%);
    }

    .boardSelect__li.claimed:hover .radio-sibling, boardSelect__li.claimed:hover {
        transform: none;
        background-color: initial;
        -webkit-transform: none;
    }
}

.boardSelect__li.claimed:active, .boardSelect__li.claimed:active {
    transform: none;
    background-color: initial;
    -webkit-transform: none;
}

.gameSettings__option:active, .boardSelect__li:active, .deckSettings__option:active {
    -webkit-transform: translateY(-10%);
   transform: translateY(-10%);
}

.gameSettings label {
    padding-left: 10px;
}
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
.hostInfo {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1rem;
    position: relative;
    z-index: 4;
}

.hostInfo__h3 {
    text-align: center;
    justify-self: end;
    font-family: poppins;
    line-height: 1.2;
    position: relative;
    color: var(--neutral-900);
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--neutral-100);
    padding: 0.5rem 0 0.5rem 2rem;
    border-right: 5vw solid var(--neutral-100);
    left: 5vw;
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hostInfo__h3, .opponentWrap__h3 {
    cursor: pointer;
}

.hostConsole {
    display: flex;
    justify-items: center;
    column-gap: 1rem;
    margin: 4vh auto;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
}

.winWrap--host {
    justify-self: center;
    position: relative;
    display: flex;
    gap: 0.25rem;
    grid-gap: 0.25rem;
    flex-direction: column;
    align-items: center;
    height: 15vh;
}

.winWrap--host:before, .winWrap--host:after {
    content: "";
    position: absolute;
    top: -15%;
    left: -25%;
    height: 130%;
    width: 150%;
    background-color: var(--neutral-900);
    -webkit-clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
    clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
    z-index: -1;
}

.winWrap--host:after {
    top: -10%;
    height: 120%;
    left: -10%;
    width: 120%;
    background-color: var(--neutral-100);
    -webkit-clip-path: polygon(0% 97%, 100% 100%, 100% 3%, 0% 0%);
    clip-path: polygon(0% 97%, 100% 100%, 100% 3%, 0% 0%);
}

.winWrap__h3--host {
    color: var(--neutral-900);
    line-height: 1.2;
}

@media(min-width:845px) {
    .hostConsole {
        row-gap: 2rem;
        column-gap: 2rem;
        grid-template-columns: 1fr max-content max-content 1fr;
        grid-template-rows: 20vh 45vh 20vh;
        padding: 1.5rem 4rem;
        margin: 3rem auto 2rem;
    }
    .hostInfo__h3 {
        padding: 1rem 0 1rem 2rem;
        font-size: 1.2rem;
    }
    .hostConsole:before, .hostConsole:after {
        position: absolute;
        content: "";
        top: 10px;
        left: 10px ;
        width: 100%;
        height: 100%;
        background-color: var(--neutral-100);
        -webkit-clip-path: polygon(100% 0%, 0% 0%, 10% 100%, 90% 100%);
        clip-path: polygon(100% 0%, 0% 0%, 10% 100%, 90% 100%);
        z-index: -1;
    }
    
    .hostConsole:after {
        top: 0;
        left: 0 ;
        background-color: var(--neutral-900);
    }
    
    .hostConsole h2 {
        grid-column: 4/5;
    }
    .winWrap--host {
        top: 15px;
    }
}

.a--logo {
    height: -moz-fit-content;
    width: -moz-fit-content;
    height: fit-content;
    width: fit-content;
}

.logo {
    width: 20vw;
}

.winInfo--host {
    height: calc(100% - 1rem);
}

.drawWrap, .currentCardWrap--host {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-gap: 0.5rem;
}

.drawWrap {
    /*box-shadow: 0px 54px 0px 0px rgba(245,245,245,1);*/
}

.deck, .currentCard-host {
    height: 60vw;
    max-height: 35vh;
    object-fit: contain;
}

#drawBtn, #reviewBtn {
    width: 100%;
}

.currentCardWrap--host {
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

.playerGraph--host {
    position: relative;
    grid-row: 2/3;
    grid-column: 1/3;
    padding: 0px 2.5em 1.5em;
    height: 20vh;
    width: 100%;
    right: 12px;
    box-sizing: border-box;
}

.playerGraph--host:before, .playerGraph--host:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    background-color: var(--neutral-100);
    -webkit-clip-path: polygon(3% 0%, 100% 0%, 97% 95%, 0% 95%);
    clip-path: polygon(3% 0%, 100% 0%, 97% 95%, 0% 95%);
    z-index: -1;
}

.playerGraph--host:before {
    top: 0;
    -webkit-clip-path: polygon(3% 3%, 100% 3%, 97% 100%, 0% 100%);
    clip-path: polygon(3% 8%, 100% 8%, 97% 100%, 0% 100%);
}

.playerGraph--host:after {
    top: 0px;
    left: 0px;
    background-color: var(--neutral-900);
}

.opponentWrap--host {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-gap: 12px;
    font-size: 0.75em;
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}

.invite {
    grid-column: -1/1;
    font-family: 'poppins';
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    padding: 1rem;
}

.invite:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1500ms infinite;
  animation: ellipsis steps(4,end) 1500ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 15px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 15px;
  }
}

.invite__anchor {
    text-decoration: underline;
    color: var(--deny-base);
}

@media(min-width:845px) {
    .logo {
        width: 22vh;
    }
    .drawWrap, .currentCardWrap--host {
        gap: 1rem;
        grid-gap: 1rem;
    }
    .drawWrap {
        grid-column: 2/3;
        grid-row: 2/3
    }
    .currentCardWrap--host {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .playerGraph--host {
        margin: 0 auto;
    }
    .opponentWrap--host {
        grid-template-columns: repeat(auto-fill, 10vh);
        justify-content: center;
        grid-gap: 1rem;
    }
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/

.modal__content--cardReview {
    overflow-y: scroll;
    display: grid;
    grid-gap: 0.75rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, 18%);
    background-color: var(--action-base);
    align-content: start;
    justify-content: center;
}

.modal__content--cardReview li {
    display: inline-block;
}

.modal__content--cardReview li img {
    width: 100%;
    min-width: 65px;
    display: block;
    object-fit: contain;
}

#closeReview {
    grid-column: 2/3;
}

@media(min-width:845px) {
    .cardReview {
        position: absolute;
        top: 20vh;
        left: 15vw;
        width: 70vw;
        background-color: var(--neutral-900);
    }
    .modal__content--cardReview {
        padding: 1rem;
        grid-template-columns: repeat(auto-fill, 85px);
    }
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
.modal--alleged {
    grid-template-rows: min-content 1fr max-content;
}

.modal__content--alleged {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    background-color: var(--primary-base);
    padding-top: 24vh;
    overflow-y: scroll;
    align-content: start;
    grid-gap: 1rem;
}

.modal__content--cardReview--alleged {
    background-color: unset;
    padding: 0 6vw 0;
}

.modal__content--boardHold {
    width: calc(35vh - 2rem);
    padding: 0;
}

.allegedWinner {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 20vh max-content;
    position: absolute;
    top: 12vh;
    width: 85vw;
    background-color: var(--neutral-900);
    box-sizing: border-box;
    padding: 12px;
    left: 7.5vw;
}

.alleged__h3 {
    grid-row: 1/2;
    width: 100%;
    padding: 0.5rem;
    color: var(--neutral-100);
    transition: 0.15s ease;
    max-width: 250px
}

@media(max-width: 845px) {
    .alleged__h3 {
        color: var(--neutral-200);
    }
    .alleged__h3:hover {
        background-color: var(--neutral-700);
    }
    .current-tab, .current-tab:hover {
        background-color: var(--neutral-900);
        color: var(--neutral-100);
    }
}

.cardReviewList-alleged {
    display: flex;
    grid-row: 4/5;
    overflow-x: scroll;
    height: 100%;
    margin: 0;
    width: auto;
    overflow-y: auto;
}

.allegedWinner table {
    margin: 0 auto;
}

#alleged__btnWrap {
    display: flex;
    gap: 1em;
    grid-gap: 1em;
    width: 100%;
    max-width: 350px;
    justify-content: end;
}

#confirm, #deny {
    width: 48%;
    grid-row: 5/6;
    grid-column: 1/2;
}

#confirm {
    justify-self: end;
}

#deny {
    justify-self: start;
}

.player.winnerGlow:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url(images/exclaim_black.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
    /*z-index: 2;*/
    transition: 0.15s ease;
}
@media(min-width: 768px) {
    .player.winnerGlow:hover:before {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@media(min-width:845px) {
    .modal__content--alleged {
        padding: 0 1rem 0 0;
        justify-content: center;
        row-gap: 0
    }
    .alleged__h3 {
        margin-top: 0;
        padding-top: 1em;
        width: auto;
    }
    .modal__content--cardReview--alleged {
        padding: 0;
        column-gap: 0.75rem;
    }
    .modal__content--boardHold, .modal__content--cardReview--alleged {
        grid-column: span 1;
    }
    #boardHold.invisible, #cardReviewListAlleged.invisible {
        display: grid;
    }
    #confirm, #deny {
        width: 50%;
        grid-row: span 1;
        grid-column: span 1;
    }
    .allegedWinner h3:nth-child(1) {
        grid-row: 1/2;
    }
    
}
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
.logo--player {
    grid-row: 1/2;
    grid-column: 1/2;
}

.playerInfo {
    display: grid;
    grid-gap: 1rem;
    grid-column: 1/-1;
    align-content: end;
    grid-template-columns: min-content min-content min-content;
}

.playerWrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 20vh));
    flex-direction: column;
    row-gap: 1rem;
    height: 100vh;
    padding-top: 1rem;
    box-sizing: border-box;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.playerWrap h2 {
    grid-column: 1/2;
}

.playerGame {
    position: unset;
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    background-color: var(--neutral-900);
    padding: 0.5em;
    padding-bottom: 1.2em;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.currentCardWrap--player, .winWrap--player {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-row: 1/2;
    align-items: center;
    gap: 0.5rem;
    grid-gap: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    width: fit-content;
    justify-self: center;
    justify-content: center;
}

.currentCardWrap--player:before, .winWrap--player:before, .currentCardWrap--player:after, .winWrap--player:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--neutral-100);
    z-index: -1;
    -webkit-clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 95%);
    clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 95%);
}

.currentCardWrap--player:after, .winWrap--player:after {
    top: 0;
    background-color: var(--neutral-900);
}

.winWrap--player:before, .winWrap--player:after {
    -webkit-clip-path: polygon(0% 100%, 0% 5%, 100% 0%, 100% 95%);
    clip-path: polygon(0% 100%, 0% 5%, 100% 0%, 100% 95%);
}

.winWrap--player:before {
    left: 5px;
}

.currentCardWrap--player:before {
    left: -5px;
}

.currentCardWrap--player {
    /*grid-column: 2/3;*/
}

.winWrap--player {
    /*grid-column: 3/4;*/
}

.winInfo__h3 {
    font-family: libre_baskervillebold;
    text-align: center;
    font-size: 1rem;
}

.currentCard--player, .winInfo--player {
    width: 20vw;
    object-fit: contain;
    display: block;
}

@media(min-width:845px) {
    .playerWrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        grid-gap: 3rem;
        padding: 2rem 0;
        box-sizing: border-box;
        height: 95vh;
    }
    .playerGame {
        position: relative;
        width: -moz-fit-content;
        width: fit-content;
        max-width: 57vh;
        height: 90vh;
    }
    .playerInfo {
        display: flex;
        flex-direction: column;
    }
    .winInfo__h3 {
        font-size: 1.75rem;
    }
    .currentCardWrap--player, .winWrap--player {
        padding: 2rem 1rem;
    }
    .currentCard--player, .winInfo--player {
        height: auto;
        width: 20vh;
    }
    .currentCardWrap--player:before, .currentCardWrap--player:after, .winWrap--player:before, .winWrap--player:after {
        -webkit-clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 95%);
        clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 95%);
    }

    .currentCardWrap--player:before,.winWrap--player:before {
        top: -10px;
        left: -10px;
    }
}
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
#newBoard {
    height: 60px;
    min-width: 66%;
}
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
@media(min-width:845px) {
    button, input[type=text] {
        height: 75px;
    }
    .playerGraph h3, .playerGraph h2 {
        grid-column: span 2;
        text-align: initial;
    }
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
.share {
    height: 1rem;
}

.share__textarea {
    color: var(--neutral-100);
    font-family: 'poppins';
    font-size: 1em;
    height: 2rem;
    width: 100%;
    padding: 1rem;
    resize: none;
    overflow-wrap: unset;
    cursor: copy;
}

.opponentWrap {
    position: relative;
    min-width: 4em;
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 2em 0.5rem;
    box-sizing: border-box;
    left: -5vw;
    height: 65vh;
}

.opponentWrap:before, .opponentWrap:after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    height: 100%;
    width: 100%;
    background-color: var(--neutral-100);
    -webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
    clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
    z-index: -1;
}

.opponentWrap:after {
    top: 0;
    left: 0;
    background-color: var(--neutral-900);
}

.opponentWrap__h3 {
    font-size: 0.85em;
    font-family: 'poppins';
    padding-bottom: 0.5rem;
    text-align: center;
}

.playerGraph--player {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, 8ch);
    justify-content: center;
    overflow-y: scroll;
    overflow-x: auto;
    gap: 0.25rem;
    grid-gap: 0.25rem;
    align-items: start;
    height: 80%;
    grid-auto-rows: max-content;
}
/*.playerGraph-player table:nth-child(1) {*/
/*    display: none;*/
/*}*/

.player {
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    position: relative;
}

.player__table {
    height: 50px;
    width: 50px;
}

.player__cell {
    background-color: var(--secondary-base);
    border: 1px solid var(--secondary-dark);
    width: 25%;
    height: 25%;
}

.player__cell.beaned {
    background-color: var(--secondary-dark);
}

.player__span {
    text-align: center;
    display: block;
    font-family: 'poppins';
    padding-top: 0.2em;
    color: var(--neutral-100);
    font-size: 0.6em;
}

@media(min-width:500px) {
    .playerInfo {
        grid-template-columns: 15vh 20vh 20vh;
    }
    .playerWrap {
        grid-template-columns: 15vh 20vh 20vh;
        column-gap: 1rem;
    }
    .opponentWrap {
        left: auto;
        max-width: 20vh;
    }
    .opponentWrap__h3, .winInfo__h3 {
        font-size: 1em;
    }
    .winInfo__h3 {
        font-size: 1.5rem;
    }
}

@media(min-width:845px) {
    .opponentWrap {
        left: 0;
        min-width: 25vh;
        padding: 2rem 1rem;
        height: 100%;
        max-width: none;
    }
    .opponentWrap:before, .opponentWrap:after {
        -webkit-clip-path: polygon(0% 2%, 100% 0%, 100% 98%, 0% 100%);
        clip-path: polygon(0% 2%, 100% 0%, 100% 98%, 0% 100%);

    }
    .opponentWrap:before {
        top: -10px;
        left: 10px;
    }
    .opponentWrap__h3, .winInfo__h3 {
        font-size: 1em;
        padding-bottom: 1em;
    }
    .winInfo__h3 {
        font-size: 1.5rem;
    }
    .playerGraph--player {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-x: auto;
        overflow-y: scroll;
        grid-gap: 1rem;
        height: 85%;
    }
    .player__table {
        height: 10vh;
        width: 10vh;
    }
    .player__span {
        font-size: 1rem;
        padding-top: 0.35rem;
    }
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/

table, td {
    border-collapse: separate;
    border-spacing: 0;
    padding: 0;
    border: none;
    white-space: nowrap;
}

.board {
    margin: 0 auto;
    width: 40vh;
    max-width: 66vw;
}

.board td {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 25%;
}

.board img {
    width: 100%;
}

.board__input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 2;
    -webkit-appearance: none;
    appearance: none;
}

#announceWin {
    width: 100%;
}

.boardSelect__pages {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0 0 0 -3rem;
    justify-content: space-around;
}

.boardSelect__pageNum__a {
    text-align: center;
    padding: 1em;
    color: var(--neutral-300);
    font-family: libre_baskervillebold;
}
@media (min-width: 768px) {
    .boardSelect__pageNum__a:hover {
        background-color: var(--neutral-700);
    }
}

.boardSelect__span {
    text-align: center;
    display: block;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.boardSelect__page {
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.5rem;
    padding: 0;
    margin: 0 0 2.5rem 0;
    scroll-snap-align: start;
    position: relative;
    max-width: 500px
}

.currentPage .boardSelect__pageNum__a {
    font-weight: bold;
    color: var(--neutral-100);
    background-color: var(--neutral-900);
}

@media (min-width: 768px) {
    .board__td:hover img {
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }
}

.board__td:active img {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}

.board__input:disabled ~ img {
    -webkit-filter: unset;
    filter: unset;
}

.board__input:disabled, .boardSelect__input:disabled, .board__input:disabled:hover, .boardSelect__input:disabled:hover {
    background-color: rgba(100,100,100,0.8);
    mix-blend-mode: saturation;
}

.beanable.beaned, .board td.input:checked, .boardSelect__input:checked {
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.boardSelect__input:checked + .radio-sibling {
    background-color: var(--neutral-900);
}

.board__input:checked, .alleged__cell.beaned:after {
    background-image: url(images/bean.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.board__input:checked {
    -webkit-animation: jump 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation: jump 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@-webkit-keyframes jump {
    from {
        -webkit-transform: translateY(-10%) scale(1.5);
    }
    50% {
        -webkit-transform: translateY(5%) scale(1);
    }
    t0 {
        -webkit-transform: translateY(0) scale(1);
    }
}

@keyframes jump {
    from {
        transform: translateY(-10%) scale(1.5);
    }
    50% {
        transform: translateY(5%) scale(1);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

.alleged__cell.beaned:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal--boardSelect {
    z-index: 4;
}

@media(min-width:845px) {
    .modal__content--boardSelect {
        max-height: calc(80vh - 2rem);
    }
    .modal--boardSelect {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .board {
        width: 50vh;
    }
}
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/

.boardSelect__li > input:checked {
    background-image: url(images/check.svg);
}

.modal__content--boardSelect td img, .modal__content--boardHold td img{
    width: 100%;
    display: block;
}

.modal__content--boardSelect td, .modal__content--boardHold td {
    position: relative;
    width: 25%;
    display: inline-block;
}

.modal__content--boardSelect {
    list-style-type: none;
    overflow-y: scroll;
    padding: 1rem 1rem 1rem 3rem;
    background-color: var(--primary-base);
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-padding: 3rem;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}

td input {
    position: absolute;
    top: 0;
    right: 0;
}

/*/--------------------------------------------/*/
/*/--------------------------------------------/*/
/*/--------------------------------------------/*/

.modal__content--boardSelect td input, .modal__content--boardHold td input {
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    z-index: 2;
}

.boardSelect__li, .modal__content--boardHold li, .deckSelect__li {
    position: relative;
    list-style-type: none;
    line-height: 0;
}

.boardSelect__li > input, .modal__content--boardHold li > input {
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    transition: ease 0.17s;
    background-size: 75%;
    background-position: 50% 0%;
}

.alertModal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.alertModal--small {
    position: absolute;
    font-family: 'poppins';
    align-self: center;
    width: 65vw;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--neutral-100);
    z-index: 5;
    color: var(--neutral-900);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: copy;
    flex-direction: column;
}

.alert__stripe {
    font-size: 3em;
    color: var(--neutral-100);
    position: relative;
    padding: 0.5em 5vw;
    min-height: 2em;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    box-sizing: border-box;
    min-width: min-content;
    font-family: poppinsBlack;
}

.alert__stripe--top {
    text-transform: uppercase;
    background-color: var(--primary-base);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 95% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 95% 0%);
}

.alert__stripe--mid {
    font-size: 2em;
    color: var(--neutral-900);
    background-color: var(--neutral-100);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 95% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 95% 0%);
}

.alert__stripe--bottom {
    margin-top: 36vw;
    display: flex;
    gap: 1rem;
    grid-gap: 1rem;
    justify-content: flex-end;
}

.alert__stripe--bottom:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-base);
    -webkit-clip-path: polygon(5% 0%, 10% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(5% 0%, 10% 100%, 100% 100%, 100% 0%);
}

#alertModal.slide .alert__stripe--top, #alertModal.slide .alert__stripe--mid {
    -webkit-animation: slideright 2.5s forwards ease;
    animation: slideright 2.5s forwards ease;
}

#alertModal.slide .alert__stripe--bottom {
    -webkit-animation: slideright 2.5s forwards ease reverse;
    animation: slideright 2.5s forwards ease reverse;
}

@-webkit-keyframes slideright {
    from {
        -webkit-transform: translateX(-100%);
    }
    15% {
        -webkit-transform: translateX(0);
    }
    85% {
        -webkit-transform: translateX(0);
    }  to {
        -webkit-transform: translateX(100%);
    }
  }
  

@keyframes slideright {
  from {
    transform: translateX(-100%);
  }
  15% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(0);
  }  to {
    transform: translateX(100%);
  }
}

#waitingModal {
    position: absolute;
    width: 40vh;
    max-width: 66vw;
    z-index: 3;
}

.waitingModal__p {
    background-color: var(--neutral-900);
    padding: 2rem;
}
#alertModal.paused .alert__stripe {
    animation-play-state:paused;
}

#maskRotate {
    -webkit-animation: spin 2.5s steps(12) infinite;
    animation: spin 2.5s steps(12) infinite;
    transform-origin: center;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

.shadowBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--gradient-rainbow);
    mix-blend-mode: multiply;
    z-index: 2;
    opacity: 0.7;
    -webkit-filter: brightness(0.75) saturate(2);
    filter: brightness(0.75) saturate(2);
}

@media(min-width:845px) {
    #waitingModal {
        top: 12.5%;
        left: 12.5%;
        height: 75%;
        width: 75%;
    }
    .alert__stripe {
        width: 70vw;
        padding: 0.5em 10%;
    }
    .alert__stripe--top {
        -webkit-clip-path: polygon(13% 0%, 5% 100%, 95% 100%, 100% 0%);
        clip-path: polygon(13% 0%, 5% 100%, 95% 100%, 100% 0%);
    }
    .alert__stripe--bottom {
        margin-top: 7vw;
    }
    .alert__stripe--bottom:after {
        -webkit-clip-path: polygon(5% 0%, 0% 100%, 95% 100%, 100% 0%);
        clip-path: polygon(5% 0%, 0% 100%, 95% 100%, 100% 0%);
    }
    .alert__stripe--mid {
        -webkit-clip-path: polygon(10% 0%, 5% 100%, 81% 100%,85% 0%);
        clip-path: polygon(10% 0%, 5% 100%, 81% 100%,85% 0%);
    }
    
}

.invisible {
    display: none;
}