@font-face {
    font-family: 'lobster';
    src: url('fonts/lobster_1.3-webfont.woff2') format('woff2'),
         url('fonts/lobster_1.3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsblack';
    src: url('fonts/poppins-black-webfont.woff2') format('woff2'),
         url('fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppins';
    src: url('fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --primary-base: #FFE464;
    --primary-light: #FFF3C0;
    --primary-dark-: #FFD41D;
    --secondary-base: #FFC0C4;
    --secondary-light: #FFE6EA;
    --secondary-dark: #EF8B97;
    --confirm-base: #86AC3B;
    --confirm-light: #DFE87F;
    --confirm-dark: #447A11;
    --confirm-disabled: #D6D6B2;
    --action-base: #86B9C9;
    --action-light: #D1EDDC;
    --action-dark: #3F88A8;
    --action-disabled: #D4DDD7;
    --deny-base: #FA5A32;
    --deny-light: #FF8A50;
    --deny-dark: #CC1F38;
    --deny-disabled: #EFD3CB;
    --accent-base: #F9A140;
    --accent-light: #FFC392;
    --neutral-100: #534537;
    --neutral-200: #6E634E;
    --neutral-300: #AFA0A5;
    --neutral-500: #F0B96F;
    --neutral-700: #FDF6E4;
    --neutral-900: #FAFBFC;
}

body {
    background-color: var(--neutral-500);
    margin: 0;
    padding: 0;
    /*background-image: url(images/background.png);*/
    /*position: relative;*/
    /*overflow: hidden;*/
}

/*body::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 200%;*/
/*    height: 200%;*/
/*    top: -50%;*/
/*    left: -50%;*/
/*    z-index: -1;*/
/*    transform: rotate(30deg);*/
/*}*/

h1, h2, h3, p, li, label, input, button {
    font-family: poppins;
    color: var(--neutral-100);
    margin: 0;
}

h1 {
    text-align: center;
    background-color: var(--primary-base);
    padding: 0.5vh 0;
    margin: 0;
    border-bottom: 6px dashed var(--neutral-100);
    font-family: Lobster;
    position: relative;
}

h1:before {
    content: "";
    position: absolute;
    height: calc(100% + 12px);
    width: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    z-index: -1;
}

h2 {
    text-align: center;
    font-size: 28px;
    display: inline-block;
}

h2, h3 {
    font-family: poppinsblack;
}

button {
    border: 6px dashed var(--neutral-100);
    height: 60px;
    font-size: 24px;
    position: relative;
}

button:before {
  content: " ";
  position: absolute;
  z-index: -1;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  top: -12px;
  left: -12px;
}

button:before, button:hover:before, button:active:before, button:disabled:before {
  background-color: inherit;
}

.invisible {
    display: none;
}

#popItIn {
    width: 90%;
    margin: 0 auto;
}

#popItIn > form {
    display: grid;
    grid-template-columns: 1fr;
    width: min-content;
    margin: 5em auto 0;
    grid-gap: 2rem;
}

#host, #player, #roomSearch {
    font-size: 2em;
}

#player, #roomSearch {
    box-sizing: border-box;
    width: auto;
    padding: 15px 25px;
    display: inline-block;
}

#host {
    margin: 0 auto;
    display: block;
    width: 100%;
    grid-column: span 1;
}

@media(min-width:760px) {
    #popItIn > form {
        grid-template-columns: 1fr 1fr;
    }
    #player, #roomSearch {
        width: 295px;
    }
    #host {
        width: calc(590px + 2rem);
        grid-column: span 2;
    }
}

#announceWin {
    width: 57vmin;
    margin: 0 auto;
}

.primaryBtn {
    background-color: var(--confirm-base);
}
.primaryBtn:hover{
    background-color: var(--confirm-light);
}
.primaryBtn:active {
    background-color: var(--confirm-dark);
}

.secondaryBtn, .secondaryBtn span {
    background-color: var(--action-base);
}
.secondaryBtn:hover, .secondaryBtn:hover span {
    background-color: var(--action-light);
}
.secondaryBtn:active, .secondaryBtn:active span {
    background-color: var(--action-dark);
}

.denyBtn {
    background-color: var(--deny-base);
}

.denyBtn:hover{
    background-color: var(--deny-light);
}
.denyBtn:active {
    background-color: var(--deny-dark);
}


#gridWrap button:disabled, #deck:disabled span {
    background-color: #dddddd;
    border-color: #999999;
    color: #999999;
}

#gridWrap {
    display: grid;
    margin-top: 0.5em;
    height: 85vh;
    grid-gap: 1em;
}

.gridWrap-host {
    grid-template-rows: 1fr 1fr;
}

.gridWrap-player {
    grid-template-rows: 15vh 48vh 18vh;
}


#gameSettings {
    display: grid;
}
#hostConsole, #playerGraph, #gameInfo, #playerGame {
    grid-column: 1/2;
    display: grid;
}

#hostConsole {
    grid-row: 2/3;
    justify-items: center;
    position: relative;
}
#playerGraph {
    grid-row: 3/4;
}

#gameSettings h3, #playerGraph h3, #playerGraph h2 {
    grid-column: 1/2;
    text-align: left;
}

#start {
    grid-column: 1/2;
    grid-row: 2/3;
    display: block;
}

#gameInfo {
    grid-template-columns: min-content min-content 1fr min-content 1fr;
    grid-template-rows: 1fr 1fr;
}
#gameInfo h3 {
    grid-column: 2/3;
}
#gameInfo h3:nth-child(4) {
    grid-column: 4/5;
}
#gameInfo h2 {
    grid-row: 1/3;
    grid-column: 1/2;
}
#deck, #currentCard, #deck img, #winConditionInfo {
    height: 18vmin;
    width: 14vmin;
}

#board th, #board td {
  padding: 0;
  width: 9vh;
  height: 10vh;
  border-spacing: 20px;
}

#newBoard {
    height: 60px;
    width: 100px;
    margin-bottom: 10px;
    float: right;
}

#boardSelect h2 {
    display: none;
}
#playerGraph h1 {
    grid-column: 1/6;
}

#playerGraph td {
    background-color: var(--secondary-base);
    height: 20px;
    width: 25px;
    position: relative;
}

@media(min-width:845px) {
    #boardSelect h2 {
        display: block;
    }
    button, input[type=text] {
        height: 75px;
    }
    #gridWrap {
        grid-template-rows: 1fr;
        grid-template-columns: minmax(min-content, 1fr) 3fr minmax(min-content, 2fr);
        grid-gap: 2em;
        margin-top: 2em;
    }
    #hostConsole, #playerGraph, #gameInfo, #playerGame {
        grid-row: 1/2;
        display: grid;
    }
    
    #hostConsole, #playerGame {
        grid-column: 2/3;
    }
    #playerGraph {
        grid-column: 3/4;
    }
    #playerGraph h3, #playerGraph h2 {
        grid-column: span 2;
        text-align: initial;
    }
    #gameInfo {
        grid-template-rows: auto;
        grid-template-columns: auto;
    }
    #gameInfo h3, #gameInfo h3:nth-child(4),#gameInfo h2 {
        grid-column: span 1;
        grid-row: span 1;
    }
    #start {
        grid-column: span 2;
        grid-row: span 1;
    }
    #deck, #currentCard, #deck img, #winConditionInfo {
        height: 35vmin;
        width: 25vmin;
    }
    #board th, #board td {
      width: 13vmin;
      height: 18vmin;
    }
    #newBoard {
        margin-bottom: 20px;
        height: 75px;
    }
    #playerGraph td {
        height: 50px;
    }
}

#gameInfo, #gameSettings, #playerGame, #playerGraph, #hostConsole {
    box-sizing: border-box;
    background-color: var(--neutral-700);
    padding: 16px;
    vertical-align: top;
    /*border: 5px solid black;*/
    overflow-y: scroll;
}

#playerGraph.player table:nth-child(2) {
    display: none;
}
#playerGraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 12px
}

#playerGame {
    position: relative;
}
#playerGraph table {
    position: relative;
}

#playerGraph input[type=checkbox] {
    appearance: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#playerGraph input:checked {
    background-color: var(--secondary-dark);
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#board {
    margin: 0 auto;
}

#board td {
    position: relative;
}

#board input[type=checkbox] {
    padding: 0;
    margin: 0;
    border: none;
}

#board td input, #board td img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#board td input {
    z-index: 2;
    appearance: none;
    
}

#board td input:hover, #boardSelectOptions li > input:hover {
    background-color: rgba(50,50,50,0.5);
}

#board td input:active, #boardSelectOptions li > input:active {
    background-color: rgba(250,250,250,0.5);
}

#board td input:focus, #boardSelectOptions li > input:focus {
    border-color: yellow;
}

#board td input:checked, #allegedWinner input:checked, #boardSelectOptions li > input:checked {
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}

#board td input:checked, #allegedWinner input:checked {
    background-image: url(images/bean.png);
}

#boardSelectOptions li > input:checked {
    background-image: url(images/check.png);
}

#boardSelect {
    position: absolute;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    padding: 16px;
}

#deck {
    display: inline-block;
    position: relative;
    margin-top: 70px;
    border: none;
    background-color: rgba(0,0,0,0);
    box-shadow: 0px 54px 0px 0px rgba(245,245,245,1);
    bottom: 54px;
}

#deck img {
    position: absolute;
    top: 0;
    left: 0;
}

#deck span {
    color: var(--neutral-100);
    font-size: 36px;
    position: relative;
    display: inline-block;
    padding: 5vmin;
    border: 8px solid var(--neutral-100);
    box-sizing: border-box;
}

#gameSettings input{
    background-size: contain;
    background-repeat: no-repeat;
    height: 140px;
    width: 100px;
    appearance: none;
    display: block;
}

#gameSettings input[value=row]{
    background-image: url(images/row.png);
}
#gameSettings input[value=column]{
    background-image: url(images/column.png);
}

#gameSettings input[value=diagonal]{
    background-image: url(images/diagonal.png);
}
#gameSettings input[value=corner]{
    background-image: url(images/corner.png);
}
#gameSettings input[value=center]{
    background-image: url(images/center.png);
}
#gameSettings input[value=blackOut]{
    background-image: url(images/blackOut.png);
}
#gameSettings input:checked {
    border: 3px solid green;
}

#gameSettings input:hover {
    border: 3px solid blue;
}

#gameSettings input:disabled:hover {
    border: none;
}

#gameSettings label {
    padding-left: 10px;
}

#cardReview {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-x: scroll;
}

#cardReview ul {
    width: max-content;
}

#cardReview li {
    display: inline-block;
}


#cardReview li img {
    height: 40vmin;
}

#closeReview {
    position: absolute;
}

#boardSelectOptions td img, #allegedWinner td img{
    height: 100%;
    width: 100%;
}

#boardSelectOptions td, #allegedWinner td {
    position: relative;
    height: 60px;
    width: 50px;
}

#boardSelectOptions {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    overflow-y: scroll;
    height: 82%;
    padding: 0;
    width: 90%;
    margin: 0 auto;
}

td input, td img {
    position: absolute;
    top: 0;
    right: 0;
}

#boardSelectOptions td input, #allegedWinner td input {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    appearance: none;
    display: block;
    z-index: 2;
}

#boardSelectOptions li, #allegedWinner li {
    position: relative;
}

#boardSelectOptions li > input, #allegedWinner li > input {
    height: 100%;
    width: 100%;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

#allegedWinner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52%;
    background-color: antiquewhite;
    box-sizing: border-box;
    padding: 12px;
}

#allegedWinner table {
    margin: 0 auto;
}

#confirm, #deny {
    
}

.winnerGlow {
    border: 5px solid white;
}

.winnerGlow:hover {
    background-color: white;
}

#playerGraph table.winnerGlow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url(images/loteria.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.landing {
    max-width: 80vw;
}

#host, #player, #roomSearch {
    height: 100px;
}